html {
    background: url('../pantallasD/fonditoo.png') no-repeat center;
    background-size: cover;
}

body {
    background: url('../pantallasD/messsiiiii.png') no-repeat center;
    background-size: cover;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
    width: 100%;   
}


.usuarioc{
    position: absolute;
    margin-left: 1200px;
    margin-top: 22px;
}

.imgdeusuarioc{
    position: absolute;
    margin-left: 1240px;
    margin-top: 20px;
    width: 30px;
    height: 25px;
}

.flechaa{
    position: absolute;
    margin-top: -190px;
    margin-left: -390px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}

.listad{
    margin-left: 450px;
}

.logodos{
    
    width: 100dvw;
    height: 70px;
    font-family: monospace;
    font-size: x-large;
    background-color: #030ea7;
    margin-top: -20px;

}

.tmd{
    margin-left: 500px;
    margin-top: 10px;
    position: absolute;
}

.loginButton{
    border-radius: 15px;
    color: white;
    background-color: green;
    width: 70px;
    height: 50px;
    font-size: 10px;
}

.registerButton{
    border-radius: 15px;
    color: white;
    background-color: green;
    width: 70px;
    height: 50px;
    font-size: 10px;
}

.cuentae{
    color: white;
    width: 70px;
    height: 50px;
    font-size: 15px;
    margin-left: +20px;
}

#contenidoc {
    display: none;
    color: white;
    background: url('../pantallasD/fonditoo.png') no-repeat center;
    background-size: cover;
    overflow-x: hidden;
}

.registerUsername{
    color: rgb(0, 0, 0);
    border-color: white;
}
.registerPassword{
    color: rgb(0, 0, 0);
    border-color: white;
}




.cuestionario{
    margin-left: 100px;
    font-size: large;
    background-color: #060a3d;
    width: max-content;
    padding: 20px;
    border-radius: 20px;
    opacity: 90%;
}

.cdi{
    height: 10px;
}


#registerButton {
    width: 150px;  
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: rgb(61, 60, 60);
    cursor: pointer;
    margin-right: 10px;
    font-size: small;
    margin-left: +170px;
}

#registerButton:hover {
    background-color: rgb(129, 252, 118); 
    color: black;
    font-size: small;

}

#formregistro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    background-color: blue;
    width: 500px;
    margin-left: 400px;
    color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);

}

#formregistro h2 {
    text-align: center; 
    margin-bottom: 20px;
    width: 100%; 
}

#formregistro input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#registerUsername:focus, #registerPassword:focus {
    outline: none; 
    box-shadow: none; 
}

#loginUsername:focus, #loginPassword:focus {
    outline: none; 
    box-shadow: none; 
}

#pasar:focus {
    outline: none; 
    box-shadow: none; 
}

#formsecion{
    display: none;
    margin-top: 200px;
    background-color: blue;
    width: 500px;
    margin-left: 400px;
    color: white;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);

}

#formsecion input{
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#formsecion h2 {
    text-align: center; 
    margin-bottom: 20px;
    width: 100%; 
}

.loginButton{
    width: 150px;  
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: rgb(61, 60, 60);
    cursor: pointer;
    margin-right: 10px;
    font-size: small;
    margin-left: +170px;
}

.loginButton:hover {
    background-color: rgb(129, 252, 118); 
    color: black;
    font-size: small;
} 

.pasar{
    border-radius: 20px;
    color: white;
    background-color: rgb(56, 106, 214);
    margin-left: 500px;
    margin-top: 400px;
    width: 160px;
    height: 70px;
    font-size: 20px;
    border-color: rgb(56, 106, 214) ;
}

.pasar:hover{
    background-color: #2c34ac;
}

.cuestionario button {
    border-radius: 5px;
    background-color: rgb(54, 54, 223);
    border-color: white;
    color: white;
    padding: 2px;
}

.cuestionario button:hover {
    background-color: rgb(84, 84, 134);
    border-color: white;
    color: white;
}


.cuestionario select {
    border-radius: 5px;
    background-color: rgb(67, 67, 116);
    border-color: white;
    color: white;
}

.cuestionario select:hover {
    background-color: rgb(103, 103, 248);
    border-color: white;
    color: white;
}

.cuestionario input {
    margin: 20px;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    color: black;
}





.password-container {
    position: relative;
    width: 90%; 
    background-color: white;
    height: 35px;
    width: 470px;
    border-radius: 4px;
}

#registerPassword {
    width: 100%;
    padding-right: 40px; 
    padding: 10px;
    border-radius: 5px;
    border: none;
}

#showPassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    padding: 0;
}

#showPassword:active {
    color: black;
}

.showPasswordi{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: gray;
    padding: 0;

}



.menu{
    display: none;
    position: absolute;
    margin-left: 600px;
    margin-top: 80px;
    color: white;
}

.diseñosg{
    position: absolute;
    margin-top: 10%;
    margin-left: -300px;
    height: 350px;
    width: 300px;
    background-color: #323cca;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    border-radius: 5px;

}

.menud{
    margin-top: 10%;
    margin-left: +177px;
    height: 350px;
    width: 300px;
    background-color: #323cca;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 1);
    border-radius: 5px;
    
}

.archivera{
    display: none;
    color: white;

}

.listad{
    margin-top: 20px;
}


.bd{
    background-color: #030ea7;
    border-radius: 18px;
    color: white;   
    padding: 8px;
    margin-top: 200px;
    margin-left: 140px;
    border-color: white;
    font-size: 30px;
    width: 200px;
    height: 100px;
}

.bd:hover{
    background-color: #060a3d;
}

.imgd{
    width: 250px;
    height: 250px;
    margin-left: 25px;
    margin-top: 20px;
}

.imga{
    width: 250px;
    height: 250px;
    margin-left: 25px;
    margin-top: 20px;
}

.tld{
font-size: 50px;
margin-left: 7%;
}
.tm{
    margin-left: 8px;
    font-size: 70px;
}

.opu{
    margin-left: 10px;
}

.opd{
    margin-left: 10px;
}


.fm{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}

.fn{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 4px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);

}

.lda{
    margin-top: 15px;
}

.cuadrilla{
    background-image: url(../pantallasD/pantilla.png);
    align-self: center;
    margin-left: -40px;
    width: 450px;
    
}
.designList{
    margin-left: 10px;
}

.instruciones{
    display: none;
    position: absolute;
    margin-left: 550px;
    background-color: #060a3d   ;
    border-radius: 30px;
    width: 380px;
    height: 100px;
    padding-left: 30px;    
}