body {
    background: url('../pantallasD/1.png') no-repeat center center fixed;
    background-size: cover;
}

.logodos {
    background: url('pantallasD/partearriba.png') no-repeat center center;
    width: 100%; 
    height: 170px; 
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 10; 
}


#contenidoc {
    display: none;
}

#formregistro{
    display: none;
}

#formsecion{
    display: none;
}


.pasar{
    border-radius: 20px;
    color: white;
    background-color: green;
    margin-left: 500px;
    margin-top: 400px;
    width: 160px;
    height: 70px;
    font-size: 20px;
}