* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #FFD580; /* Color amarillo claro */
    padding: 20px;
    display: flex;
    align-items: center;
}

.header-top {
    display: flex;
    width: 100%;
}

.logo {
    background-color: #F4A460; /* Color naranja */
    width: 50px; /* Más pequeño que antes */
    height: 50px; /* Más pequeño que antes */
    margin-right: 20px;
}

.title-text h1, .title-text p {
    margin-left: 10px;
}

.central-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    flex-grow: 1;
    background-color: #FDE4CF; /* Fondo más claro para la sección central */
}

.box {
    width: 100px;
    height: 100px;
    margin: 5px;
    position: relative;
    background-color: #FFD700; /* Amarillo */
}

.inner-square {
    background-color: #FFFFFF; /* Blanco */
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.upper-bar {
    background-color: #B0E0E6; /* Celeste */
    height: 10px;
    width: 100%;
    position: absolute;
    top: 0;
}

footer {
    background-color: #E0E0E0;
    padding: 10px;
    text-align: center;
}

.footer-info {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-info div {
    text-align: center;
}
